ChatterBot-corpus
mathparse>=0.1,<0.2
python-dateutil>=2.8,<2.9
pytz
Flask==2.0.2
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
gunicorn==19.9.0
Jinja2==3.0.2
SQLAlchemy==1.3.24
regex==2021.11.2
google==3.0.0
pyvi==0.1.1
requests
flask-login
flask-restful
flask-wtf
langid
gensim
python-docx
firebase-admin