{%extends "base1.html"%}
{% block title %} Đăng ký {% endblock %}
{%block head %} {{super()}} {% endblock %}
{% block content %}

{%block navigator%} {%endblock%}
<div id="root">
    <div>
        <div class="app-container" style="padding-top: 60px">
            <div class="header-logo">
                <div class="logo-text-1">
                    <a class="logo"><img src="./static/img/logo.png" alt="" /></a>

                </div>
            </div>
            <div class="container-fluid view-container" id="app-view-container">
                <div id="body" class="jh-card bg-jh-card card">
                    <div class="view-routes">
                        <div class="box-register">
                            <div class="justify-content-center row">
                                <div class="col" style="flex: 1 1 0%">
                                    <h2 class="text-center text-register" id="register-title">
                                        <span>Đăng ký</span>
                                    </h2>
                                </div>
                            </div>


                            <div class="tab-pane active">
                                <p style="text-align: center; margin-bottom: 10%">
                                    (Chỉ dành cho công dân)
                                </p>
                                <form novalidate="" action="#" id="register-form" method="post" class="av-invalid">
                                    <div class="form-group">
                                        <label for="identity" class=""><span>Tên đăng nhập (Số CMT/CCCD)
                                                <strong>*</strong></span></label>
                                        <input name="identity" placeholder="Nhập số CMT/CCCD" required=""
                                            pattern="^([0-9]{9}|[0-9]{12})+$" minlength="9" maxlength="12" id="identity"
                                            type="number" class="
                              is-untouched is-pristine
                              av-invalid
                              form-control
                            " value="" />
                                    </div>
                                    <div class="form-group">
                                        <label for="fullName" class=""><span>Họ tên
                                                <strong>*</strong></span></label>
                                        <input name="fullName" placeholder="Nhập họ tên" required="" maxlength="250"
                                            id="fullName" type="text" class="
                              is-untouched is-pristine
                              av-invalid
                              form-control
                            " value="" />
                                    </div>
                                    <div style="margin-bottom: 1rem">
                                        <label style="color: black"><span>Ngày sinh
                                                <strong>*</strong></span></label>
                                        <div class="react-datepicker-wrapper">
                                            <div class="react-datepicker__input-container">
                                                <input type="text" id="birthday" name="birthday"
                                                    placeholder="dd/mm/yyyy" class="
                                  is-touched is-pristine
                                  av-valid
                                  form-control
                                " value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class=""><span>Số điện thoại
                                                <strong>*</strong></span></label>
                                        <input name="mobile" placeholder="Nhập số điện thoại" required="" minlength="10"
                                            maxlength="11" id="mobile" type="text" class="
                              is-untouched is-pristine
                              av-invalid
                              form-control
                            " value="" />
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="">Email</label>
                                        <input name="email" placeholder="Nhập email của bạn" id="email" type="email"
                                            class="
                              is-untouched is-pristine
                              av-valid
                              form-control
                            " value="" />
                                    </div>

                                    <label class="lbl-term"><span>Bằng cách nhấp vào Đăng ký, bạn đồng ý với
                                        </span><a href="https://dichvucong.gov.vn/p/home/dvc-dieu-khoan-su-dung.html"
                                            target="_blank"><span>Điều khoản, Chính sách chia sẻ thông tin
                                            </span></a><span>của chúng tôi.</span></label>
                                    <button type="submit" class="btn-register btn btn-secondary btn-block">
                                        <span>Đăng ký</span>
                                    </button>
                                    <div style="margin-top: 10px">
                                        <div>
                                            <div class="row" style="flex: 1 1 0%">
                                                <div class="col" style="flex: 0.4 1 0%">
                                                    <hr />
                                                </div>

                                                <div class="row" style="flex: 1 1 0%; margin-top: 80px">
                                                    <div class="col" style="flex: 1 1 0%; text-align: center">
                                                        <label style="margin-right: 5px">Đã có tài khoản?
                                                        </label><label style="color: rgb(206, 122, 88)">Đăng
                                                            nhập</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}